.navcontainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(190, 192, 192);
    border-radius: 4px;
    padding: 14px;
    justify-content: space-between;
    text-decoration: none;
}

.navcontainer .tag{
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.navcontainer .tag:hover{
    background-color: rgb(155, 46, 120);
    cursor: pointer;
}
#search-result {
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
    background: rgba(185, 185, 185, 0.9); 
    border-radius: 8px;
    color: #ffffff; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    transition: all 0.3s ease;
}

.result-card {
    padding: 10px;
    background-color: rgb(131, 75, 148);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
}

.result-card:hover{
    transform: translateY(-5px);
}

.result-card:last-child {
    border-bottom: none;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container{
    width: 400px;
    background-color: rgba(185, 185, 185, 0.9);
    font-family: 'Times New Roman ' sans-serif;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 10px;
    box-shadow:  3px 3px  10px  black;
    transition: all 0.3s ease;
}
.container:hover{
    background-color: rgb(255, 255, 255, 0.9);
    transform: translateY(-3px);
}
img{
    width: 250px;
    border-radius: 10px ;


}
#detailsBtn{
    background-color: hsl(9, 100%, 64%);
    color: rgb(89, 87, 87);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}
#detailsBtn:hover{
    background-color: hsl(9, 100%, 70%);
    color: rgb(52, 50, 50);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transform: translateY(-3px);
}
#detailsBtn:active{
    background-color: hsl(9, 100%, 64%);
    color: rgb(52, 50, 50);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;}

#morto, #goal{
    background-color: rgb(255, 250, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(85, 85, 85); 
    margin: 10px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
h1, h2{
    text-align: center;
    color: rgb(199, 41, 13);
}
input{
    border-radius: 4px;
    padding: 6px;
    border: rgb(76, 76, 233);
}
body{
    background-image:url(./images/carImage.jpg);
    background-size: cover;
}

footer{
    background-color: rgba(217, 210, 219, 0.7);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}