.navcontainer{
    display: flex;
    flex-direction: row;
    background-color: #fffffe;
    color: #2b2c34;
    box-shadow: 3px 3px 10px #2b2c34;
    border-radius: 4px;
    padding: 14px;
    justify-content: space-between;
    text-decoration: none;
    transition: all 0.3s ease;
}
.navcontainer:hover{
    background-color: rgb(173, 255, 207);
}
#button{
    background-color: #6246ea;
    border-radius: 4px;
    color: #fffffe;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
#button:hover{
    background-color: #d1d1e9;
    color: #2b2c34;
    transform: translateY(-3px);
}
#search-result {
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
    background: rgba(185, 185, 185, 0.9); 
    border-radius: 8px;
    color: #ffffff; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    transition: all 0.3s ease;
}

.result-card {
    padding: 10px;
    background-color: rgb(131, 75, 148);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
}

.result-card:hover{
    transform: translateY(-5px);
}

.result-card:last-child {
    border-bottom: none;
}
.rating{
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffcc00;
}
.rating small{
    color: #fff;
    margin-left: 5px;
    opacity: 0.8;
}
.articleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    opacity: 0.5;
    transform: translateY(80px);
    transition: all 0.8s ease-out;
}
.articleContainer.active{
    opacity: 1;
    transform: translateY(0);
}
.article{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 1rem;
    background-color: #d1d1e9;
    color: #2b2c34;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
.article, #button{
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    opacity: 0.5;
    transform: translateY(80px);
    transition: all 0.8s ease;
}
.grid-container.active{
    opacity: 1;
    transform: translateY(0);
}
.container{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2rem;
    max-width: 400px;
    background-color: #d1d1e9;
    font-family: 'Times New Roman ' sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow:  3px 3px  10px  black;
    transition: all 0.3s ease;
}
.container:hover{
    background-color: rgb(255, 255, 255, 0.9);
    transform: translateY(-3px);
}
img{
    width: 250px;
    border-radius: 10px ;


}
#detailsBtn{
    background-color: #6246ea;
    color: #fffffe;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}
#detailsBtn:hover{
    background-color: #d1d1e9;
    color: #2b2c34;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transform: translateY(-3px);
}
#detailsBtn:active{
    background-color: #6246ea;
    color: #fffffe;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;}

#morto, #goal{
    background-color: #d1d1e9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(85, 85, 85); 
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1, h2{
    text-align: center;
    color: #2b2c34;
}
input{
    border-radius: 4px;
    padding: 6px;
    border: rgb(76, 76, 233);
}
body{
    background-color: #fffffe;
    text-align: center;
    /* background-image:url(./images/carImage.jpg);
    background-size: cover; */
}

footer{
    background-color: #2b2c34;
    color: #fffffe;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    opacity: 0.5;
    transform: translateY(80px);
    transition: all 0.8s ease;
}
footer.active{
    opacity: 1;
    transform: translateY(0);
}
.footerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
}
.quick-links{
    display: flex;
    flex-direction: column;
    text-align: start;
    text-decoration: none;
    transition: all 0.3s ease;
}
.quick-links a{
    color: #fffffe;
}
.quick-links a:hover{
    text-decoration: underline;
    color: #fffffe;
}